@import '../variables';

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $font-size-mid;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

.example-spacer {
  flex: 1 1 auto;
}

.landing-page {
  // background-color: #EBEBEB;
  padding: $spacing-large;
}

.subtitle {
  font-size: $font-size-large;
}

.bgImage {
  opacity: 0.3;

  &-top {
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
