<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
  </button>
  <span>Paint Me A Picture</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="landing-page">
  <app-slogan></app-slogan>

  <div>
    <p class="subtitle">
      Capture Your Life: Freeze your moments in time and share your memories with the world. Our platform makes it easy to store, organize, and share your photos, letting you relive your favorite moments and connect with others. Start capturing memories today!
    </p>
  </div>
</div>


<img class="bgImage-top" src="https://source.unsplash.com/PhciG8fpRKw" width="100%">
<!-- <img class="bgImage" src="https://source.unsplash.com/y8Ngwq34_Ak" width="100%">
<img class="bgImage" src="https://source.unsplash.com/Cecb0_8Hx-o" width="100%"> -->

<router-outlet></router-outlet>
