<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
  </button>
  <span>Home</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="landing-page">
  <app-slogan></app-slogan>

  <div>
    <p>
      Experience the joy of reliving your precious moments through our innovative photo sharing platform. With our user-friendly interface, simply upload and share your memories with family and friends. Whether it’s a wedding, a birthday or a family vacation, we make it easy to capture the moment and share the memories. Sign up today and start sharing your precious moments!
    </p>
  </div>
</div>

<router-outlet></router-outlet>
