// Put CSS variables here

// TODO: Review values

$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-mid: 24px;
$spacing-large: 32px;
$spacing-xlarge: 48px;
$spacing-xxlarge: 64px;
$spacing-xxxlarge: 120px;

$font-size-xxsmall: 8px;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-mid: 14px;
$font-size-large: 16px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 48px;
$font-size-xxxlarge: 64px;

$breakpoint-mobile: 480px;
$breakpoint-xmobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-xdesktop: 1200px;
$breakpoint-xxdesktop: 1400px;
$breakpoint-xxxdesktop: 1800px;
$breakpoint-xldesktop: 2500px;
